div, h1, label, input, span, ul, li, button {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
  font-size: 14px;
  font-family: Corbel;
}

button, input {
    background: none;
    border: 3px inset #cbf7be;  
    line-height: 27px;
}

body #root {
    width: 350px;  
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    border-top-left-radius: 14px;
}

    #root h1 {
        padding-left: 70px;
        line-height: 70px;
    }

.widget {
    border: 1px solid #000;
    border-radius: 4px;
    width: 290px;
    margin-left: 25px;
    background: #cbf7be; /* Old browsers */
    background: -moz-linear-gradient(top,  #cbf7be 0%, #e5d96e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbf7be), color-stop(100%,#e5d96e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cbf7be 0%,#e5d96e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cbf7be 0%,#e5d96e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cbf7be 0%,#e5d96e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cbf7be 0%,#e5d96e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbf7be', endColorstr='#e5d96e',GradientType=0 ); /* IE6-9 */
}

label {
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;
    width: 85px;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

label:nth-of-type(4) {
    margin-top: 0;
}

input {
    padding-left: 15px;
    width: 130px;
    margin-right: 15px;
    font-style: italic;
}

.chouse {
    width: 120px;
}

.dropdown {
    display: block;
    background: url(images/down-arrow.png) 5px center no-repeat;
    padding-left: 25px;
    margin-left: 120px;
    margin-top: -18px;
    width: 120px;
    position:relative;  
}

    .dropdown:hover{
        background-image: url(images/left-arrow.png);
    }

        .dropdown:hover ul {
            display:block;
        }

.dropdown ul {
    display: none;
    position: absolute;
    left: 105px;
    top: 0;
    background: #e5d96e; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5d96e 0%, #cbf7be 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5d96e), color-stop(100%,#cbf7be)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5d96e 0%,#cbf7be 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5d96e 0%,#cbf7be 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5d96e 0%,#cbf7be 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5d96e 0%,#cbf7be 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d96e', endColorstr='#cbf7be',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    border: 1px solid #000;
    width: 160px;
}

    .dropdown ul li {      
        border-bottom: 1px solid #000;
        width: 140px;
        margin-left: 5px;
        text-align: center;
        margin-right: 5px;
        cursor: pointer;
        line-height: 25px;
    }

        .dropdown ul li:hover {
            background-color: #ccc468;
        }
    
        .dropdown ul li:last-child {
            border-bottom: none;
            line-height: 30px;                       
        }

button {
    width: 255px;
    text-align: center;
    margin: 15px;
}

    button:hover {
        background: #cbf7be; /* Old browsers */
        background: -moz-linear-gradient(top,  #cbf7be 0%, #e5d96e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbf7be), color-stop(100%,#e5d96e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #cbf7be 0%,#e5d96e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #cbf7be 0%,#e5d96e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #cbf7be 0%,#e5d96e 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #cbf7be 0%,#e5d96e 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbf7be', endColorstr='#e5d96e',GradientType=0 ); /* IE6-9 */
    }