table {
	width:100px;
	background-color:#000;
	margin:0 auto;
	font-weight:bold;
}
td {
	text-align:center;
}
input {
    border:none;
    width:100%;
    color:#0ff;
    font-weight:bold;
    background-color:#000;
}
input[type="text"] {
    text-align:right;
}